.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.practice {
  background-color: rgb(85, 85, 255);
  background-color: rgb(252, 101, 101);
  font-style: italic;
}
